 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 995px;
}

.u-section-1 .u-shape-1 {
  height: 421px;
  width: 451px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 396px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 906px;
  height: 637px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -817px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 984px;
  height: 683px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -570px auto 0 72px;
}

.u-section-1 .u-group-1 {
  width: 568px;
  min-height: 503px;
  background-image: none;
  height: auto;
  margin: -259px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  align-self: center;
  background-image: none;
  font-weight: 700;
  margin: 35px auto 0 0;
  padding: 20px 46px 20px 44px;
}

.u-section-1 .u-icon-1 {
  margin-right: 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-1 .u-shape-1 {
    height: 394px;
    margin-top: 393px;
  }

  .u-section-1 .u-shape-2 {
    width: 769px;
    margin-top: -787px;
  }

  .u-section-1 .u-image-1 {
    width: 810px;
    height: 652px;
    margin-right: 60px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -228px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    height: 334px;
  }

  .u-section-1 .u-shape-2 {
    width: 597px;
    margin-top: -727px;
  }

  .u-section-1 .u-image-1 {
    width: 651px;
    height: 580px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -156px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-1 .u-shape-1 {
    height: 236px;
    margin-top: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 442px;
    margin-top: -629px;
  }

  .u-section-1 .u-image-1 {
    width: 483px;
    height: 481px;
  }

  .u-section-1 .u-group-1 {
    width: 463px;
    min-height: 438px;
    margin-top: -57px;
    margin-bottom: -393px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-1 .u-shape-1 {
    height: 130px;
    width: 187px;
    margin-top: 237px;
  }

  .u-section-1 .u-shape-2 {
    height: 249px;
    width: 250px;
    margin-top: -367px;
  }

  .u-section-1 .u-image-1 {
    width: 305px;
    height: 285px;
    margin-top: -209px;
  }

  .u-section-1 .u-group-1 {
    min-height: 499px;
    margin-top: 61px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 25px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 863px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 21.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 21.3333px));
  min-height: 523px;
  grid-gap: 32px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 81px;
  height: 81px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  text-transform: none;
  font-family: Oswald, sans-serif;
  margin: 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-icon-2 {
  width: 81px;
  height: 81px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  text-transform: none;
  font-family: Oswald, sans-serif;
  margin: 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-icon-3 {
  width: 81px;
  height: 81px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  text-transform: none;
  font-family: Oswald, sans-serif;
  margin: 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-icon-4 {
  width: 81px;
  height: 81px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  text-transform: none;
  font-family: Oswald, sans-serif;
  margin: 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-icon-5 {
  width: 81px;
  height: 81px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-2 .u-text-12 {
  font-size: 1.875rem;
  text-transform: none;
  font-family: Oswald, sans-serif;
  margin: 0;
}

.u-section-2 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-2 .u-icon-6 {
  width: 81px;
  height: 81px;
  margin: 30px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 21.3333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 21.3333px));
    min-height: 432px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15.999975000000001px);
    grid-template-columns: repeat(2, calc(50% - 15.999975000000001px));
    min-height: 771px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.625rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 475px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 355px;
  background-image: url("images/technician-coveralls-with-wrench.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 355px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 30px 50px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  font-weight: 700;
  margin: 42px auto 0 0;
  padding: 20px 46px 20px 44px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-3 .u-image-1 {
    min-height: 293px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-3 .u-image-1 {
    min-height: 612px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-3 .u-image-1 {
    min-height: 459px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-3 .u-image-1 {
    min-height: 289px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.625rem;
  }
} .u-section-4 {
  min-height: 566px;
}